<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
<%-include('includes/navbar.ejs')%>

<form action="" method="POST">
    <input type="hidden" value="<%=user.id%>">
    <input type="submit" value="Minha Agenda">
</form>

<form action="" method="POST">
   <label for="usuarios">Selecione o usuário: </label> <select name="usuario" id="usuarios">
    <% times.forEach(userselect=> { %>
        <option value="<%=userselect.id%>"><%=userselect.nome%></option>
        <%})%>
   </select>
</form>


</html>