<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
<body>
<%-include('includes/navbar.ejs')%>

    <div class="container"> 
            <img class="logo" src="https://i.pinimg.com/474x/44/ed/83/44ed833bcbf970f0408d03618fa6be02.jpg" alt="Logo" />
            <p id="logo-name" class="logo-name"></p>
            <% convites.forEach(convite=> { %>
            <h3 style="text-align:center">Convite para a equipe <%= convite.nome%>
            <a href="/user/inviteAccept/<%=convite.time%>" class="btn btn-primary">Entrar</a>
            <a href="/user/inviteDeclined/<%=convite.time%>" class="btn btn-primary">Recusar</a>
            </h3>
            
            <%})%>
    </div>
</body>
</html>