<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
    <%-include('includes/navbar.ejs')%>

    <h4><a href="/user/agendar">Agendar novo compromisso</a></h4>

    <form class="form-signin" action="/user/agendausuario" method="POST" name="form">
        <label>Procurar pela agenda de outro time: </label>
       <input type="text" id="email" name="text"  placeholder="Digite o nome do time"> <!-- AQUI O CARA DIGITA O NOME DO TIME  E VE A AGENDA (N PRECISA SELECT)  -->
        <input type="submit" value="Procurar">
    </form>

        <h2>Seja bem-vindo a sua agenda <%=logado.nome%> <!--Aqui é a agenda do time k -->
        </h2>
<div class="compromissos">
        <h4>Seus dias de compromisso:
            <% agenda.forEach(compromisso=> { %>
                 <% let data = compromisso.dia; let dataamericana = (data.getFullYear() + "-" + ((data.getMonth() + 1)) + "-" + (data.getDate() )); let datafinal = dataamericana.split('-').reverse().join('/'); %><!--O horario tbm tem que aparecer, se do jeito que a data ta não tiver aparecendo o horario, tu pode deletar isso ai de data americana-->
                <h4><%=compromisso.descricao%> no dia  <%=datafinal%></h4> 
                <% }) %> 
        </h4>
    </div>  
</html>